<mat-progress-bar [mode]="loading ? 'indeterminate' : 'determinate'"></mat-progress-bar>
<mat-tree [dataSource]='dataSource' [treeControl]='treeControl'>

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef='let node' matTreeNodeToggle
                 [ngClass]="{'selected': node.selected}">
    <button style='visibility:hidden;' mat-icon-button matTreeNodeToggle>
      <mat-icon class='mat-icon-rtl-mirror'>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <a mat-button [routerLink]="node.url.join('/')" class='tree-node-div'>
      <mat-icon>{{node.matIcon}}</mat-icon>
      {{node.directory.name}}
    </a>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef='let node;when: hasChild' matTreeNodePadding
                 [ngClass]="{'selected': node.selected}">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class='mat-icon-rtl-mirror'>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <a mat-button [routerLink]="node.url.join('/')" class='tree-node-div'>
      <mat-icon>{{node.matIcon}}</mat-icon>
      {{node.directory.name}}
    </a>
  </mat-tree-node>
</mat-tree>
