<mat-drawer-container autosize>

    <mat-drawer [opened]="treeviewDrawerLocked" [mode]="treeviewDrawerLocked ? 'side' : 'over'" #treeviewDrawer
        id="treeview-drawer">

        <mat-toolbar *ngIf="treeviewDrawerLocked">{{ 'general.appname' | translate }}</mat-toolbar>

        <mat-toolbar *ngIf="!treeviewDrawerLocked">
            {{ 'general.appname' | translate }}
            <div class="take-remaining-space"></div>
            <button (click)="treeviewDrawer.close()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <app-files-treeview [(currentDirectoryID)]="currentDirectoryID"
            (currentDirectoryIDChange)="treeviewDrawer.close()">
        </app-files-treeview>
    </mat-drawer>

    <app-files-main-toolbar [hideMenuButton]="treeviewDrawerLocked" (menuButtonClicked)="treeviewDrawer.toggle()"></app-files-main-toolbar>

    <div id="app-files-breadcrumb-container">
        <app-files-breadcrumb [(currentDirectoryID)]="currentDirectoryID"></app-files-breadcrumb>
    </div>

    <app-files-directory-table [(currentDirectoryID)]="currentDirectoryID" [(selectedNodeID)]="selectedNodeID"
        (detailsButtonClicked)="fileDetailDrawer.open()" [showDetailsButton]="!fileDetailDrawerLocked">
    </app-files-directory-table>

    <app-files-upload [currentDirectoryID]="currentDirectoryID"></app-files-upload>

    <mat-drawer #fileDetailDrawer [opened]="fileDetailDrawerLocked" [mode]="fileDetailDrawerLocked ? 'side' : 'over'"
        position="end" id="file-detail-drawer">
        <mat-toolbar *ngIf="!fileDetailDrawerLocked">
            <button style="margin-right: 4px;" (click)="fileDetailDrawer.close()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
            {{ 'general.filedetails' | translate }}
            <div class="take-remaining-space"></div>
        </mat-toolbar>
        <app-files-details-panel [fileID]="selectedNodeID || currentDirectoryID"></app-files-details-panel>
    </mat-drawer>

    <app-files-upload-overlay></app-files-upload-overlay>

</mat-drawer-container>