<h1 mat-dialog-title>
    {{'fileaction.delete' | translate}}
</h1>

<div *ngIf="node.bin_id" mat-dialog-content>
    {{ 'fileaction.delete_from_bin' | translate:translateParams }}
</div>

<div *ngIf="!node.bin_id" mat-dialog-content>
    {{ 'fileaction.delete_confirm' | translate:translateParams }}
</div>

<div mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button [disabled]="loading" mat-button (click)="onCancelBtnClicked()">{{'general.cancel' | translate}}</button>
    <button [disabled]="loading" mat-raised-button color="warn" (click)="onDeleteBtnClicked()">{{'fileaction.delete' |
        translate}}</button>
</div>