<mat-toolbar>
    <button mat-icon-button (click)="menuButtonClicked.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <!--<span>{{ 'general.appname' | translate }}</span>-->

    <div id="search-div" style="font-size: 1rem; display: flex; flex: 1 1 auto;">
        <input id="search-input" type="text" matInput placeholder="{{ 'general.search' | translate }}">

        <button matSuffix mat-icon-button class="search-btn">
            <mat-icon>expand_more</mat-icon>
        </button>

    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
        <span>John Doe</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>{{ 'general.settings' | translate }}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>{{ 'general.logout' | translate }}</span>
    </button>
</mat-menu>