<h1 mat-dialog-title>
    {{'fileaction.sharewith' | translate}}
</h1>

<div class="error-txt" *ngIf="genericError">{{ 'general.generic_error' | translate }}</div>
<div class="error-txt" *ngIf="userError">{{ 'general.share_error' | translate }}</div>


<div mat-dialog-content>
    <form [formGroup]="registerForm">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{'general.mail' | translate}}</mat-label>
            <input matInput formControlName="input" required>
            <mat-error *ngIf="registerForm.controls['input'].hasError('required')">{{'general.no_empty' | translate}}</mat-error>
            
           
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button [disabled]="loading" mat-button (click)="onCancelBtnClicked()">{{'general.cancel' | translate}}</button>
    <button [disabled]="loading || !this.registerForm.controls['input'].valid" mat-raised-button color="primary"
        (click)="onShareBtnClicked()">{{'fileaction.share' | translate}}</button>
</div>