version: '3.6'
services:
  mongodb:
    container_name: mongodb
    image: quadstingray/mongodb:4.2.9
    environment:
      MONGO_ROOT_USERNAME: root
      MONGO_ROOT_PWD: mongoDB_password_CHANGE_ME
    ports:
      - "127.0.0.1:27017:27017"

  redis:
    container_name: redis
    image: redis:6.0.10
    ports:
      - "127.0.0.1:6379:6379"

  backend:
    container_name: backend
    build: ./backend
    environment: 
      - APP_NAME="CyberDoc backend"
      - APP_VERSION=v0.0.1
      - APP_PORT=3000
      - APP_FRONTEND_URL=http://localhost:4200
      - APP_BACKEND_URL=http://localhost:3000
      - CORS_ORIGIN=http://localhost:4200,http://localhost:9001
      - USER_LOCAL_STORAGE_KEY=real_user
      - JWT_SECRET=jwtSecret_CHANGE_ME
      - JWT_EXPIRATION_TIME=86400
      - JWT_COOKIE_NAME=access_token
      - JWT_COOKIE_DOMAIN=localhost
      - ENCRYPTION_IV=fba684d2a09989b2
      - MONGODB_URL=mongodb://root:mongoDB_password_CHANGE_ME@mongodb:27017
      - REDIS_URL=redis://redis:6379
      - DISABLE_ETHERPAD=true
      - DISABLE_2FA_AND_EMAIL=true
      - DISABLE_STRIPE=true
      - STORAGE_SPACE=104857600
    command: bash -c "npm run start"
    links:
      - "mongodb:mongodb"
      - "redis:redis"
    depends_on:
      - mongodb
      - redis
    ports:
      - "127.0.0.1:3000:3000"

  frontend:
    container_name: frontend
    build: ./frontend
    environment: 
      - APP_BACKEND_URL=http://localhost:3000
      - USER_LOCAL_STORAGE_KEY=real_user
      - JWT_COOKIE_NAME=access_token
      - JWT_COOKIE_DOMAIN=localhost
      - ETHERPAD_ROOT_URL=http://localhost:9001
      - DISABLE_2FA_AND_EMAIL=true
      - DISABLE_STRIPE=true
    command: bash -c "npm run start:bind"
    depends_on:
      - backend
    ports:
      - "127.0.0.1:4200:4200"