<button id="fab" *ngIf="!currentlyUploading" [matMenuTriggerFor]="menu" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>
<mat-card *ngIf="!currentlyUploading && showDragZone" #dropDiv id="drop-div" class="mat-elevation-z2">
    <div class="mat-display-1" id="drop-div-text"> {{ 'upload.drop_div_text' | translate }}</div>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="uploadFile()">
        <mat-icon>publish</mat-icon>{{ 'upload.import_file' | translate }}
    </button>
    <button mat-menu-item (click)="createFolder()">
        <mat-icon>create_new_folder</mat-icon>{{ 'upload.new_directory' | translate }}
    </button>
</mat-menu>
<input type="file" #file>