<button id="fab" *ngIf="!currentlyUploading" [matMenuTriggerFor]="menu" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>
<mat-card *ngIf="!currentlyUploading && showDragZone" #dropDiv id="drop-div" class="mat-elevation-z2">
    <div class="mat-display-1" id="drop-div-text"> {{ 'upload.drop_div_text' | translate }}</div>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createFileFromTemplate('empty_docx', 'docx')">
        <mat-icon fontSet="fa" fontIcon="fa-file-word"></mat-icon>{{ 'upload.new_docx_file' | translate }}
    </button>
    <button mat-menu-item (click)="createFileFromTemplate('empty_doc', 'doc')">
        <mat-icon fontSet="fa" fontIcon="fa-file-word"></mat-icon>{{ 'upload.new_doc_file' | translate }}
    </button>
    <button mat-menu-item (click)="createFileFromTemplate('empty_odt', 'odt')">
        <mat-icon fontSet="fa" fontIcon="fa-file-alt"></mat-icon>{{ 'upload.new_odt_file' | translate }}
    </button>
    <button mat-menu-item (click)="createFileFromTemplate('empty_txt', 'txt')">
        <mat-icon fontSet="fa" fontIcon="fa-file"></mat-icon>{{ 'upload.new_txt_file' | translate }}
    </button>
    <div style="margin-top: 4px; margin-bottom: 4px; width: 100%; height: 2px; background: lightgray;"></div>
    <button mat-menu-item (click)="uploadFile()">
        <mat-icon>publish</mat-icon>{{ 'upload.import_file' | translate }}
    </button>
    <button mat-menu-item (click)="createFolder()">
        <mat-icon>create_new_folder</mat-icon>{{ 'upload.new_directory' | translate }}
    </button>
</mat-menu>
<input type="file" #file>