<mat-card id="card" *ngIf="currentlyUploading">
    <mat-progress-bar mode="determinate" [value]="progressionPercent"></mat-progress-bar>
    <div id="card-content">
        <div id="card-text">
            <div>
                {{ (filename.length>20)? (filename | slice:0:20)+'...':(filename) }}&nbsp;
                <span class="mat-small">({{progressionPercent}}%, <span [innerHTML]="remainingTimeSeconds | remainingTime"></span> {{'general.remaining' | translate}})</span>
            </div>
        </div>
        <button (click)="cancelUpload()" mat-icon-button>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</mat-card>