#card {
    position: absolute;
    max-width: calc(100vw - 32px);
    left: 16px;
    bottom: 16px;
    width: 400px;
    padding: 0;
}

#card-content {
    display: flex;
    padding: 16px;
}

#card-text {
    flex: 1 1 auto;
    align-self: center;
}