#app-icon {
    padding-left: 4px;
    padding-right: 4px
}

#app-name-icon-container {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

a {
    color: inherit;
    text-decoration: unset;
}

#header {
    text-align: center;
}

#cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

mat-card {
    margin: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}