<mat-drawer-container style='width: 100vw; height: 100vh;'>
  <mat-toolbar color='primary'>
    <a id='app-name-icon-container' [routerLink]="['/files']">
      <img id='app-icon' width='44' height='auto' src='/assets/icons/icon-512x512.png' alt='CyberDoc Logo'>
      <span>{{'general.appname' | translate}}</span>
    </a>
  </mat-toolbar>

  <br>
  <br>
  <div id='header'>
    <h1>{{'billing.title' | translate}}</h1>
    <h4>{{'billing.subtitle' | translate}}</h4>
  </div>
  <br>
  <br>

  <div id='cards-container'>

    <mat-card>
      <mat-card-subtitle>{{'billing.free' | translate}}</mat-card-subtitle>
      <mat-card-title>{{'billing.freeplan_space' | translate}}</mat-card-title>
      <div style='user-select: none'>&nbsp;</div>
      <button mat-raised-button disabled>{{'billing.current_plan' | translate}}</button>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>{{'billing.most_popular' | translate}}</mat-card-subtitle>
      <mat-card-title>{{'billing.plan1_space' | translate}}</mat-card-title>
      <div style='user-select: none'>&nbsp;</div>
      <button mat-raised-button color='primary'
              [class.spinner]="loading && selectedPlan == 'plan1_month'" [disabled]='loading'
              (click)='onBillingPlanSelected("plan1_month")'>{{'billing.plan1_month_price' | translate}}</button>
      <div style='user-select: none'>&nbsp;</div>
      <div>{{'billing.or_prepay_annually' | translate}}</div>
      <div>{{'billing.save_16_percent' | translate}}</div>
      <button mat-button color='primary'
              [class.spinner]="loading && selectedPlan == 'plan1_year'" [disabled]='loading'
              (click)='onBillingPlanSelected("plan1_year")'>{{'billing.plan1_year_price' | translate}}</button>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>&nbsp;</mat-card-subtitle>
      <mat-card-title>{{'billing.plan2_space' | translate}}</mat-card-title>
      <div style='user-select: none'>&nbsp;</div>
      <button mat-stroked-button color='primary'
              [class.spinner]="loading && selectedPlan == 'plan2_month'" [disabled]='loading'
              (click)='onBillingPlanSelected("plan2_month")'>{{'billing.plan2_month_price' | translate}}</button>
      <div style='user-select: none'>&nbsp;</div>
      <div>{{'billing.or_prepay_annually' | translate}}</div>
      <div>{{'billing.save_16_percent' | translate}}</div>
      <button mat-button color='primary'
              [class.spinner]="loading && selectedPlan == 'plan2_year'" [disabled]='loading'
              (click)='onBillingPlanSelected("plan2_year")'>{{'billing.plan2_year_price' | translate}}</button>
    </mat-card>

    <mat-card>
      <mat-card-subtitle>{{'billing.best_value' | translate}}</mat-card-subtitle>
      <mat-card-title>{{'billing.plan3_space' | translate}}</mat-card-title>
      <div style='user-select: none'>&nbsp;</div>
      <button mat-stroked-button color='primary'
              [class.spinner]="loading && selectedPlan == 'plan3_month'" [disabled]='loading'
              (click)='onBillingPlanSelected("plan3_month")'>{{'billing.plan3_month_price' | translate}}</button>
      <div style='user-select: none'>&nbsp;</div>
      <div>{{'billing.or_prepay_annually' | translate}}</div>
      <div>{{'billing.save_16_percent' | translate}}</div>
      <button mat-button color='primary'
              [class.spinner]="loading && selectedPlan == 'plan3_year'" [disabled]='loading'
              (click)='onBillingPlanSelected("plan3_year")'>{{'billing.plan3_year_price' | translate}}</button>
    </mat-card>

  </div>

  <br>
  <br>
</mat-drawer-container>