<mat-nav-list>
    <a href="#" mat-list-item disabled>
        <span id="filename-span">
            <mat-icon fontSet="fa" fontIcon="{{getIconForMimetype(data.node.mimetype)}}"></mat-icon>
            {{ data.node.name }}
        </span>
    </a>
    <!-- We can open txt files -->
    <a href="#" *ngIf="canBeOpened(data.node)" mat-list-item (click)="onBottomSheetSelection($event,'open')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-external-link-alt"></mat-icon>
            {{ 'fileaction.open' | translate }}
        </span>
    </a>

    <!-- We can download every files -->
    <!-- Etherpad files have their own download logic -->
    <a href="#" *ngIf="!data.node.isDirectory && !isEtherPadFile(data.node)" mat-list-item (click)="onBottomSheetSelection($event,'download')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-download"></mat-icon>
            {{ 'fileaction.download' | translate }}
        </span>
    </a>
    <a href="#" *ngIf="isEtherPadFile(data.node)" mat-list-item (click)="onBottomSheetSelection($event,'download', 'doc')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-word"></mat-icon>
            {{ 'fileaction.download_as_doc' | translate }}
        </span>
    </a>
    <a href="#" *ngIf="isEtherPadFile(data.node)" mat-list-item (click)="onBottomSheetSelection($event,'download', 'odt')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-invoice"></mat-icon>
            {{ 'fileaction.download_as_odt' | translate }}
        </span>
    </a>
    <a href="#" *ngIf="isEtherPadFile(data.node)" mat-list-item (click)="onBottomSheetSelection($event,'download', 'txt')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-alt"></mat-icon>
            {{ 'fileaction.download_as_txt' | translate }}
        </span>
    </a>


    <!-- We can export PDF when it is available -->
    <a href="#" *ngIf="isPDFExportAvailable(data.node)" mat-list-item (click)="onBottomSheetSelection($event,'export')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-pdf"></mat-icon>
            {{ 'fileaction.export' | translate }}
        </span>
    </a>
    <a href="#" *ngIf="!data.node.isDirectory && !data.sharedWithMeMode" mat-list-item
        (click)="onBottomSheetSelection($event,'share')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-share"></mat-icon>
            {{ 'fileaction.share' | translate }}
        </span>
    </a>
    <a href="#" *ngIf="data.showDetailsEntry" mat-list-item (click)="onBottomSheetSelection($event,'details')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ 'fileaction.details' | translate }}
        </span>
    </a>
    <!-- We can move every files that are in "My safebox" as an Owner -->
    <a href="#" *ngIf="isOwner() && !data.sharedWithMeMode" mat-list-item
        (click)="onBottomSheetSelection($event,'move')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-export"></mat-icon>
            {{ 'fileaction.move' | translate }}
        </span>
    </a>
    <!-- We can always copy files as an Owner -->
    <a href="#" *ngIf="!data.node.isDirectory && isOwner()" mat-list-item
        (click)="onBottomSheetSelection($event,'copy')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-copy"></mat-icon>
            {{ 'fileaction.copy' | translate }}
        </span>
    </a>
    <!-- We can't rename a file shared in "read-only" mode -->
    <a href="#" *ngIf="!data.sharedWithMeMode" mat-list-item (click)="onBottomSheetSelection($event,'rename')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-pen"></mat-icon>
            {{ 'fileaction.rename' | translate }}
        </span>
    </a>
    <!-- We can sign a file as an owner or a collaborator -->
    <a href="#" *ngIf="!data.node.isDirectory" mat-list-item (click)="onBottomSheetSelection($event,'sign')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-file-signature"></mat-icon>
            {{ 'fileaction.sign' | translate }}
        </span>
    </a>
    <!-- We can't delete a file shared with us -->
    <a href="#" *ngIf="!data.sharedWithMeMode" mat-list-item (click)="onBottomSheetSelection($event,'delete')">
        <span>
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
            {{ 'fileaction.delete' | translate }}
        </span>
    </a>


</mat-nav-list>