<button *ngIf="!currentlyUploading" style="position: absolute; bottom: 24px; right: 24px;" [matMenuTriggerFor]="menu" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>
<div *ngIf="!currentlyUploading && showDragZone" #dropDiv class="mat-elevation-z2"
    style="background: white; position: absolute; left: 24px; right: 24px; top: 24px; bottom: 24px;">
    <div class="mat-display-1" style="    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;">Drop a file to import</div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="uploadFile()">
        <mat-icon>publish</mat-icon>Import file
    </button>
    <button mat-menu-item (click)="createFolder()">
        <mat-icon>create_new_folder</mat-icon>New directory
    </button>
</mat-menu>
<input style="visibility: hidden;" type="file" #file>