<div id="root-div">
    <div id="form-container" >
      <form [formGroup]="recoverForm" novalidate (ngSubmit)="onSubmit()">
  
        <mat-card id="card">
        
          <h1 id='app-title'>
            <img src="/assets/icons/icon-192x192.png" width="100" height="100" />
            <b>{{ 'general.appname' | translate }}</b>
          </h1>
          <div *ngIf="!recovered">
          <mat-card-header>
            <mat-card-title>{{ 'accounts.forgot_password' | translate }}</mat-card-title>
          </mat-card-header>
  
          <div class="error-txt" *ngIf="wrongCredentialError">{{ 'accounts.login_error' | translate }}</div>
  
          <mat-card-content>
            <label>{{ 'general.password_recovery_mail' | translate }}</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'general.email' | translate }}</mat-label>
              <input autocomplete="email" type="email" matInput formControlName="email" required>
              <mat-error *ngIf="recoverForm.controls['email'].hasError('required')">
                {{ 'general.no_empty' | translate }}
              </mat-error>
            </mat-form-field>
            <br>
          </mat-card-content>
  
          <div id="button-container">
            <button [disabled]="loading" mat-raised-button color="primary" type="submit">{{ 'general.confirm_recover' | translate }}</button>
            <br>
            <a routerLink="/login" mat-stroked-button color="primary">{{ 'general.back_login' | translate }}</a>
          </div>
        </div>
        <div *ngIf="recovered">
            <div id="button-container">
                <label>{{ 'general.email_sended' | translate }}</label>
                <a routerLink="/login" mat-raised-button color="primary">{{ 'general.back_login' | translate }}</a>
              </div>
        </div>
        </mat-card>
      </form>
    </div>
    
  </div>
