<h1 mat-dialog-title>{{ 'dialogs.two_factor_recovery_codes' | translate }}</h1>
<div mat-dialog-content>
    These are your 5 recovery codes :
    <mat-list *ngFor="let generatedCode of this.generatedRecoveryCodes;">
        <mat-list-item>{{ generatedCode }}</mat-list-item>
    </mat-list>
    <div mat-dialog-actions>
        <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
        <button [disabled]="loading" mat-button (click)="onCancelBtnClicked()">{{'general.close' | translate}}</button>
    </div>
</div>
