@import "../../../../theme.scss";

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  height: auto;
}

.mat-list-item {
  list-style-type: circle;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}
