<div mat-dialog-title class="mat-headline">
    {{'sign.signwith' | translate}}
  </div>
  <div class="error-txt" *ngIf="genericError">{{ 'general.generic_error' | translate }}</div>
  <div *ngIf="!isEmpty && !genericError" mat-dialog-content>
    <h3><b>{{ 'sign.signBy' | translate }}</b></h3>
</div>
<div *ngIf="isEmpty && !genericError" mat-dialog-content>
  <h3><b>{{ 'sign.noSign' | translate }}</b></h3>
</div>

  <div *ngIf="!isEmpty && !genericError" id="table-container">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="user_email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td class="signatories-column" mat-cell *matCellDef="let element">
          {{element.user_email}}
        </td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td class="signatories-column" mat-cell *matCellDef="let element">
          {{element.created_at}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="isEmpty || genericError" id="table-container"></div>
  
  
  <div mat-dialog-actions align="end"> 
    <div class="fill"></div>
    <div class="text-txt" *ngIf="hasAlreadySign">{{ 'sign.error' | translate }}  </div>
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    
    <button [disabled]="loading" mat-raised-button 
      (click)="onCloseBtnClicked()">{{'general.close' | translate}}</button>   
    <button [disabled]="loading || hasAlreadySign" mat-raised-button color="primary"
      (click)="addSignatories()">{{'sign.sign' | translate}}</button>
  </div>