<h1 mat-dialog-title>{{ 'dialogs.password_verify' | translate }}</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()" autocomplete="off">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'general.password' | translate }}</mat-label>
            <input autocomplete="current-password" required matInput [type]="hidePassword ? 'password' : 'text'"
                formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">
                {{ 'general.no_empty' | translate }}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="onSubmitPassword()" [class.spinner]='loading' [disabled]="loading || passwordForm.invalid">{{
        'general.confirm' | translate }}</button>
    <button mat-button color="warn" [disabled]="loading" matDialogClose>{{ 'general.cancel' | translate }}</button>
</div>
