@import '../../../vars.scss';

.selected, .selected > * {
    background: $app-selected;
}

.tree-node-div {
    display: flex; 
    align-items: center;
}

.tree-node-div > mat-icon {
    margin-right: 4px;
}