@import "../../../theme.scss";

.full-width {
  width: 100%;
}

#card {
  max-width: 550px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-radio-group > * {
  padding: 8px;
}

form {
  min-width: 550px;
}

#root-div {
  background-color: mat-color($primary);
  height: 100vh;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.one-line-if-big-screen{
  display: flex;
}

.one-line-if-big-screen mat-form-field:first-child {
  margin-right: 16px;
}

#role-group-label {
  font-weight: bold;
}

#app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-container{
  display: flex;
  flex-direction: column;
}

.error-txt {
  color: $warn;
  font-weight: bold;
  padding-bottom: 12px;
}

@media screen and (max-width: 550px) {
  #card {
    width: unset;
    height: unset;
  }

  form {
    width: 100vw;
    min-width: unset;
    height: 100vh;
  }

  .one-line-if-big-screen {
    display: block;
  }

  .one-line-if-big-screen mat-form-field:first-child {
    margin-right: 0;
  }

  #password-form-field {
    margin-bottom: 16px;
  }
}

span {
  font-size: 1.2em;
  font-weight: bold;
}
