<div class='primary-background' id="root-div">
  <div id="form-container">
    <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card id="card">
        <h1 id='app-title'>
          <img src="/assets/icons/icon-192x192.png" width="100" height="100" />
          <b>{{ 'general.appname' | translate }}</b>
        </h1>

        <p *ngIf="this.fileOwnerEmail"><span>{{ this.fileOwnerEmail }}</span> has invited you to join CyberDoc</p>

        <mat-card-header>
          <mat-card-title>{{ 'general.register' | translate }}</mat-card-title>
        </mat-card-header>

        <div class="error-txt" *ngIf="emailAlreadyExistsError">
          {{ 'accounts.email_already_exists' | translate }}
        </div>

        <div class="error-txt" *ngIf="tooManyRequestsError">
          {{ 'accounts.too_many_requests' | translate }}
        </div>

        <mat-card-content>
          <div class="one-line-if-big-screen">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'accounts.first_name' | translate }}</mat-label>
              <input autocomplete="given-name" matInput formControlName="firstName" required>
              <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
                {{ 'general.no_empty' | translate }}
              </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'accounts.last_name' | translate }}</mat-label>
              <input autocomplete="family-name" matInput formControlName="lastName" required>
              <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
                {{ 'general.no_empty' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'general.email' | translate }}</mat-label>
            <input autocomplete="email" matInput formControlName="email" required>
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
              {{ 'general.no_empty' | translate }}
            </mat-error>
          </mat-form-field>

          <div class="one-line-if-big-screen">
            <mat-form-field id="password-form-field" appearance="outline" class="full-width">
              <mat-label>{{ 'general.password' | translate }}</mat-label>
              <input autocomplete="new-password" matInput [type]="hidePassword ? 'password' : 'text'"
                placeholder="password" formControlName="password" required>
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                {{ 'general.no_empty' | translate }}</mat-error>
              <mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
                {{ 'accounts.password_restrictions' | translate }}</mat-error>
              <mat-hint>{{ 'accounts.password_restrictions' | translate }}</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ 'accounts.repeat_password' | translate }}</mat-label>
              <input autocomplete="new-password" matInput [type]="hidePassword ? 'password' : 'text'"
                formControlName="repeat" required>
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="registerForm.controls['repeat'].hasError('required')">
                {{ 'general.no_empty' | translate }}</mat-error>
              <mat-error *ngIf="registerForm.controls['repeat'].hasError('mustMatch')">
                {{ 'accounts.passwords_must_match' | translate }}</mat-error>
            </mat-form-field>
          </div>

          <br>

          <label id="role-group-label">{{ 'accounts.role' | translate }} : &nbsp;</label>
          <mat-radio-group aria-labelledby="role-group-label" formControlName="role">
            <mat-radio-button value="owner">{{ 'accounts.owner' | translate }}</mat-radio-button>
            <mat-radio-button value="collaborator">{{ 'accounts.collaborator' | translate }}</mat-radio-button>
          </mat-radio-group>

          <br><br>
          <mat-checkbox class="full-width" formControlName="checkLegal" required>
            {{ 'general.privacy_policy_checkbox' | translate }}
            <a style='padding: 0' mat-button href="/assets/privacy-policy.pdf">
              {{ 'general.privacy_policy' | translate }}
            </a>
          </mat-checkbox>
          <mat-error *ngIf="canShowCheckLegalError && registerForm.controls['checkLegal'].hasError('required')">
            {{ 'general.privacy_policy_required' | translate }}
          </mat-error>


        </mat-card-content>

        <div id="button-container">
          <button [disabled]="loading" [class.spinner]='loading' mat-raised-button color="primary" type="submit">{{ 'general.register' | translate
            }}</button>
          <br>
          <a routerLink="/login" mat-stroked-button color="primary">{{ 'accounts.already_register' | translate }}</a>
        </div>
      </mat-card>
    </form>
  </div>
</div>