<table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="icon-column" mat-cell *matCellDef="let element" (click)="onClick(element)"
            (dblclick)="onDoubleClick(element)">
            <mat-icon fontSet="fa" fontIcon="{{getIconForMimetype(element.mimetype)}}"></mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'file.name' | translate }} </th>
        <td class="name-column" mat-cell *matCellDef="let element" (click)="onClick(element)"
            (dblclick)="onDoubleClick(element)" (touchstart)="onTouchStart(element)"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'file.type' | translate }} </th>
        <td class="type-column" mat-cell *matCellDef="let element" (click)="onClick(element)"
            (dblclick)="onDoubleClick(element)" (touchstart)="onTouchStart(element)">
            {{getFileTypeFromMimetype(element.mimetype) | translate}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'file.size' | translate }} </th>
        <td class="size-column" mat-cell *matCellDef="let element" (click)="onClick(element)"
            (dblclick)="onDoubleClick(element)" (touchstart)="onTouchStart(element)">
            {{element.size ? (element.size | filesize) : '—'}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'file.modified' | translate }} </th>
        <td class="date-column" mat-cell *matCellDef="let element" (click)="onClick(element)"
            (dblclick)="onDoubleClick(element)" (touchstart)="onTouchStart(element)">
            {{element.lastModified ? (element.lastModified | date) : '—'}} </td>
    </ng-container>

    <ng-container matColumnDef="menubutton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="menubutton-column" mat-cell *matCellDef="let element">
            <button *ngIf="!restrictions.isContextAndBottomSheetDisabled(element)" mat-icon-button
                (click)="openBottomSheet(element)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (contextmenu)="onContextMenu($event, row)" class="example-box" mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'disabled': restrictions.isDisabled(row), 'selected': !isTouchScreen && selectedNode && selectedNode.id === row.id}">
    </tr>

</table>

<div [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu" id="context-menu-div">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="execActionOnSelectedNode('open')">
            <mat-icon fontSet="fa" fontIcon="fa-external-link-alt"></mat-icon>
            <span>{{ 'fileaction.open' | translate }}</span>
        </button>
        <button *ngIf="!selectedNode.isDirectory" mat-menu-item (click)="execActionOnSelectedNode('download')">
            <mat-icon fontSet="fa" fontIcon="fa-file-download"></mat-icon>
            <span>{{ 'fileaction.download' | translate }}</span>
        </button>
        <button *ngIf="showDetailsButton" mat-menu-item (click)="execActionOnSelectedNode('details')">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            <span>{{ 'fileaction.details' | translate }}</span>
        </button>
        <button *ngIf="!isReadOnly(selectedNode)" mat-menu-item (click)="execActionOnSelectedNode('move')">
            <mat-icon fontSet="fa" fontIcon="fa-file-export"></mat-icon>
            <span>{{ 'fileaction.move' | translate }}</span>
        </button>
        <button *ngIf="!isReadOnly(selectedNode)" mat-menu-item (click)="execActionOnSelectedNode('copy')">
            <mat-icon fontSet="fa" fontIcon="fa-copy"></mat-icon>
            <span>{{ 'fileaction.copy' | translate }}</span>
        </button>
        <button *ngIf="!isReadOnly(selectedNode)" mat-menu-item (click)="execActionOnSelectedNode('rename')">
            <mat-icon fontSet="fa" fontIcon="fa-pen"></mat-icon>
            <span>{{ 'fileaction.rename' | translate }}</span>
        </button>
        <button *ngIf="!isReadOnly(selectedNode)" mat-menu-item (click)="execActionOnSelectedNode('delete')">
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
            <span>{{ 'fileaction.delete' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>