.full-width {
  width: 100%;
}

#card {
  max-width: 400px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  min-width: 400px;
}

#root-div {
  
  /*todo scss var*/
  background-color: #3f51b5;
  width: 100vw;
  height: 100vh;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-container{
  display: flex;
  flex-direction: column;
}

.error-txt {
  color: red;
  font-weight: bold;
  padding-bottom: 12px;
}

@media screen and (max-width: 400px) {
  #card {
    width: unset;
    min-height: unset;
    max-height: 100vh;
  }

  form {
    width: 100vw;
    min-width: unset;
    max-height: 100vh;
  }
}

