<mat-card>
	<app-settings-billing-card></app-settings-billing-card>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-icon mat-card-avatar>person</mat-icon>
		<mat-card-title>{{'settings.user_info_card_title' | translate}}</mat-card-title>
		<mat-card-subtitle>{{'settings.user_info_card_subtitle' | translate}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="profileForm" style='display: flex; flex-direction: column'>
			<mat-form-field>
				<input type="text" matInput formControlName="firstName"
					placeholder="{{'accounts.first_name' | translate}}">
			</mat-form-field>
			<mat-form-field>
				<input type="text" matInput formControlName="lastName"
					placeholder="{{'accounts.last_name' | translate}}">
			</mat-form-field>
			<mat-form-field>
				<input type="email" matInput formControlName="newEmail" placeholder="{{'general.email' | translate}}">
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{ 'themes.theme' | translate }}</mat-label>
				<span matPrefix style="margin-right: 1vw;"><mat-icon [svgIcon]="this.profileForm.get('theme').value"></mat-icon></span>
				<mat-select formControlName="theme">
					<mat-option *ngFor="let theme of VALID_THEMES" [value]="theme">
						<mat-icon [svgIcon]="theme"></mat-icon>
						{{getThemeText(theme) | translate}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</form>
		<button mat-flat-button color="primary" type="submit" (click)="updateProfile()"
			[disabled]="profileForm.invalid || !(profileForm.controls['firstName'].dirty  || profileForm.controls['lastName'].dirty || profileForm.controls['theme'].dirty || profileForm.controls['newEmail'].dirty ) || loading">{{'general.update'
			| translate}}</button>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-icon mat-card-avatar>local_offer</mat-icon>
		<mat-card-title>{{'settings.user_tags_card_title' | translate}}</mat-card-title>
		<mat-card-subtitle>{{'settings.user_tags_card_subtitle' | translate}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<table mat-table [dataSource]="dataSource" matSort>

			<ng-container matColumnDef="tagcolor">
				<th mat-header-cell *matHeaderCellDef> </th>
				<td class="tagcolor-column" mat-cell *matCellDef="let element" (click)="addOrEditTag(element)">
					<div class="tag-color-div" [style.background]="element.hexColor"></div>
				</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'tags.tag_name' | translate }} </th>
				<td class="name-column tagName" mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>

			<ng-container matColumnDef="editbutton">
				<th mat-header-cell *matHeaderCellDef></th>
				<td class="editbutton-column" mat-cell *matCellDef="let element">
					<button [disabled]="loading" mat-icon-button (click)="addOrEditTag(element)">
						<mat-icon>edit</mat-icon>
					</button>
				</td>
			</ng-container>

			<ng-container matColumnDef="deletebutton">
				<th mat-header-cell *matHeaderCellDef></th>
				<td class="deletebutton-column" mat-cell *matCellDef="let element">
					<button [disabled]="loading" mat-icon-button (click)="deleteTag(element)">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>
		<button [disabled]="loading" id="add-tag-btn" mat-flat-button color="primary"
			(click)="addOrEditTag(undefined)">{{'general.add' | translate}}</button>

	</mat-card-content>
</mat-card>

<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title id="danger-zone-title">
				<span class="error-txt">{{'settings.danger_zone' | translate}}</span>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-card id="delete-account-card">
			<mat-card-header>
				<mat-icon mat-card-avatar>delete</mat-icon>
				<mat-card-title>{{'settings.user_delete_card_title' | translate}}</mat-card-title>
				<mat-card-subtitle>{{'settings.user_delete_card_subtitle' | translate}}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<button id="delete-account-btn" [disabled]="loading" (click)="deleteAccount()" mat-flat-button
					color="warn">{{'settings.user_delete_card_title' | translate}}</button>
			</mat-card-content>
		</mat-card>
	</mat-expansion-panel>
</mat-accordion>
