<mat-card style="margin-bottom: 10px;">
	<mat-card-content>
		<form [formGroup]="profileForm" (ngSubmit)="onSubmitProfileForm()">
			<div class="col-md-12">
				<mat-form-field>
					<input type="text" matInput formControlName="firstName" placeholder="First Name">
                </mat-form-field>
            </div>
			<div class="col-md-12">
				<mat-form-field>
					<input type="text" matInput formControlName="lastName" placeholder="Last Name">
                </mat-form-field>
			</div>
			<div class="col-md-12">
				<mat-form-field>
					<input type="email" matInput formControlName="newEmail" placeholder="Email">
                </mat-form-field>
			</div>
			<input type="email" hidden formControlName="oldEmail" placeholder="Email">
            <button mat-flat-button color="primary" type="submit" [disabled]="profileForm.invalid">Update</button>
			<button mat-flat-button color="warn" (click)="deleteAccount()" style="margin-left: 10px">Delete my account</button>
		</form>
		
		<form [formGroup]="phoneNumberForm" (ngSubmit)="onSubmitPhoneNumberForm()">
			<mat-form-field>
				<input type="text" maxlength="14"
					matInput 
					ng2TelInput
					[ng2TelInputOptions]="{initialCountry: 'fr'}"
					(ng2TelOutput)="getNumber($event)"
					formControlName="phoneNumber" />
			  <mat-error *ngIf="!phoneNumberForm.get('phoneNumber').valid && phoneNumberForm.get('phoneNumber').touched">
				  This is an <strong>invalid</strong> phone number.
			  </mat-error>
			</mat-form-field>
			<button mat-flat-button color="primary" type="submit" [disabled]="phoneNumberForm.invalid">Update my phone number</button>
		</form>
    </mat-card-content>
</mat-card>