.autocomplete-option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

#title-span {
    flex: 1 1 auto;
}

.tag-color-div {
    width: 20px; height: 20px;
}

mat-spinner {
    margin-top: 48px;
    left: calc(50% - 24px);
  }

#add-tag-btn {
    margin: 4px;
}