<h1 mat-dialog-title>
    {{'bin.purge' | translate}}
</h1>

<div mat-dialog-content>
    {{ 'bin.warning_purge' | translate }}
</div>


<div mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button [disabled]="loading" mat-button (click)="onCancelBtnClicked()">{{'general.cancel' | translate}}</button>
    <button [disabled]="loading" mat-raised-button color="warn" (click)="onPurgeBtnClicked()">{{'fileaction.delete' |
        translate}}</button>
</div>