.autocomplete-option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tag-color-div {
    width: 20px; height: 20px;
}

mat-spinner {
    margin-top: 48px;
    left: calc(50% - 24px);
  }

mat-chip {
    user-select: none;
}

mat-form-field {
    width: 100%;
}

[matChipRemove] {
    color: black;
    background: white;
    border-radius: 16px;
}