<mat-form-field appearance='fill'>
  <mat-label>{{'tags.tags' | translate}}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip (click)='edit(tag)' (removed)='remove(tag)' *ngFor='let tag of selectedTags'
              [style.background]='tag.hexColor'
              [style.color]='computeTextColor(tag.hexColor)'
              disableRipple removable selectable style='cursor: pointer;'>
      <div id="tagName">{{tag.name}}</div>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #tagInput (matChipInputTokenEnd)='add($event)' [formControl]='tagsCtrl' [matAutocomplete]='auto'
           [matChipInputFor]='chipList' [matChipInputSeparatorKeyCodes]='separatorKeysCodes'>
  </mat-chip-list>
  <mat-autocomplete #auto='matAutocomplete' (optionSelected)='selected($event)'>
    <mat-option *ngFor='let tag of filteredTags$ | async' [value]='tag'>
      <div class='autocomplete-option-container'>
        <div>{{tag.name}}</div>
        <div [style.background]='tag.hexColor' class='tag-color-div'></div>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
