<mat-form-field>
    <mat-chip-list #chipList>
        <mat-chip disableRipple [style.background]="tag.hexColor" [style.color]="computeTextColor(tag.hexColor)"
            *ngFor="let tag of nodeTags" selectable removable (removed)="remove(tag)">
            {{tag.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="{{'tags.enter_tag' | translate}}" #tagInput [formControl]="tagsCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
            <div class="autocomplete-option-container">
                <div>{{tag.name}}</div>
                <div class="tag-color-div" [style.background]="tag.hexColor"></div>
            </div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>