@import '~@angular/material/theming';
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$selected: $dark-dividers;
$warn: red;

$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

// Include all theme styles for the components.
@include angular-material-theme($theme);
