@import "../../../../theme.scss";

mat-list {
  height: 32px;
}

#downloadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mat-dialog-actions>button {
  width: 100%;
}
