<h1 mat-dialog-title>{{ 'dialogs.two_factor_recovery_codes' | translate }}</h1>
<div mat-dialog-content>
  <p>Recovery codes are used to access your account in the event you cannot receive two-factor authentication codes.</p>
  <div class='error-txt'>Download, print or copy your recovery codes before continue</div>
  <ul>
    <li *ngFor='let generatedCode of this.generatedRecoveryCodes;'>{{ generatedCode }}</li>
  </ul>
  <p>Treat your recovery codes with the same level of attention as you would your password !</p>
</div>
<div mat-dialog-actions align='end'>
  <mat-spinner *ngIf='loading' diameter='24'></mat-spinner>

  <button mat-raised-button color='primary' [disabled]='loading' mat-button
          (click)='downloadCodes()'>Download codes
  </button>

  <button mat-raised-button [disabled]='loading' mat-button
          (click)='onCancelBtnClicked()'>{{'general.close' | translate}}</button>
</div>