@import "src/theme";

#downloadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mat-dialog-content {
  width: 100%;
}

.mat-dialog-actions>button {
  width: 100%;
}
