mat-form-field {
    width: calc(100% - 128px);
} 

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-success {
    background-color: #00aa22;
    color: #fff;
}

.mat-expansion-panel {
    display: flex;
    flex-direction: column;
}

.two-factor-status{
    pointer-events: none;
    cursor: default;
    width: 110px;
    align-content: center;
}

.mat-list-item {
    display: flex;
    flex-direction: row;
}

.mat-raised-button {
    margin-left: auto;
    width: 190px;
}

table {
    width: 100%;
  }
  