@import '../../../../theme.scss';

mat-form-field {
  width: 100%;
  padding-bottom: 1.25em;
}

mat-card, mat-expansion-panel {
  margin: 10px;
}

table{
  width: 100%;
}

.editbutton-column{
  width: 32px;
}

.mat-button {
  margin-top: 10px;
}
