mat-form-field {
  width: 100%;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#subscribeTimer {
  display: inline-block;
  white-space: nowrap;
}
