<div id="root-div">
    <div id="form-container">
        <form [formGroup]="resetForm">

            <mat-card id="card">
                <h1 id='app-title'>
                    <img src="/assets/icons/icon-192x192.png" width="100" height="100" />
                    <b>{{ 'general.appname' | translate }}</b>
                </h1>
                <div *ngIf="!reset">
                    <mat-card-header>
                        <mat-card-title>{{ 'general.reset_password' | translate }}</mat-card-title>
                    </mat-card-header>

                    <div class="error-txt" *ngIf="invalidRecoveryKeyError">
                        {{ 'exportrecoverykey.invalid_recovery_key' | translate }}
                    </div>

                    <mat-form-field style="margin-bottom: 16px;" id="password-form-field" appearance="outline"
                        class="full-width">
                        <mat-label>{{ 'general.password' | translate }}</mat-label>
                        <input autocomplete="new-password" matInput [type]="hidePassword ? 'password' : 'text'"
                            placeholder="password" formControlName="password" required>
                        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                            {{ 'general.no_empty' | translate }}</mat-error>
                        <mat-error *ngIf="resetForm.controls['password'].hasError('pattern')">
                            {{ 'accounts.password_restrictions' | translate }}</mat-error>
                        <mat-hint>{{ 'accounts.password_restrictions' | translate }}</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>{{ 'accounts.repeat_password' | translate }}</mat-label>
                        <input autocomplete="new-password" matInput [type]="hidePassword ? 'password' : 'text'"
                            formControlName="repeat" required>
                        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetForm.controls['repeat'].hasError('required')">
                            {{ 'general.no_empty' | translate }}</mat-error>
                        <mat-error *ngIf="resetForm.controls['repeat'].hasError('mustMatch')">
                            {{ 'accounts.passwords_must_match' | translate }}</mat-error>
                    </mat-form-field>

                    <mat-form-field style="margin-bottom: 16px;" (click)="file.click()" style="cursor: pointer;" appearance="outline"
                        class="full-width">
                        <mat-label>Recovery key</mat-label>
                        <input formControlName="recoveryKey" required [(ngModel)]="recoverykeyFilename" readonly matInput placeholder="Recovery key">
                        <mat-icon matSuffix>note_add</mat-icon>
                        <mat-error *ngIf="resetForm.controls['recoveryKey'].hasError('required')">
                            {{ 'general.no_empty' | translate }}</mat-error>
                    </mat-form-field>

                    <input hidden #file type="file">


                    <div id="button-container">
                        <button [disabled]="loading" mat-raised-button color="primary" (click)="onResetPasswordBtnClick()"
                            type="submit">{{ 'general.reset_password_confirm' | translate }}</button>
                        <br>
                        <a routerLink="/login" mat-stroked-button
                            color="primary">{{ 'general.back_login' | translate }}</a>
                    </div>

                </div>
                <div *ngIf="reset">
                    <label>{{ 'general.password_resetted' | translate }}</label>
                    <div id="button-container">
                        <a routerLink="/login" mat-raised-button
                            color="primary">{{ 'general.back_login' | translate }}</a>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</div>