@import "../../../../theme.scss";

table {
    width: 100%;
}

.error-txt {
  color: $warn;
  font-weight: bold;
  padding-bottom: 12px;
}

.deletebutton-column {
  width: 32px;
  padding-left: 16px;
}

.email-and-name-column {
  word-break: break-all;
}

mat-form-field {
  width: 100%;
}

[mat-dialog-actions] {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

#shareModeFormField {
  width: 100px;
}

mat-spinner {
  margin-right: 16px;
}

.fill {
  flex: 1 1 auto;
}

#table-container {
  height: calc(100% - 193px); /*HACK*/
  overflow-y: auto;
}

mat-form-field {
  margin-bottom: 8px;
}