<h1 mat-dialog-title>
    {{'fileaction.sharewith' | translate}}
</h1>

<div class="error-txt" *ngIf="genericError">{{ 'general.generic_error' | translate }}</div>


<table mat-table [dataSource]="dataSource" >

    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

  
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete ? </th>
        <td mat-cell *matCellDef="let element"> <button color="warn" [disabled]="loading" mat-button (click)="delete(element.email)">Delete</button> </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

<div mat-dialog-actions align="end">
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button [disabled]="loading" mat-button (click)="onCancelBtnClicked()">{{'general.cancel' | translate}}</button>
    <button [disabled]="loading" mat-raised-button color="primary"
        (click)="shareNode()">{{'fileaction.newShare' | translate}}</button>
</div>