<div class='primary-background' id="root-div">
    <div id="form-container">
        <form [formGroup]="tokenForm" novalidate (ngSubmit)="onSubmit()">
            <mat-card id="card">
                <h1 id='app-title'>
                    <img src="/assets/icons/icon-192x192.png" width="100" height="100" alt="CyberDoc Header"/>
                    <b>{{ 'general.appname' | translate }}</b>
                </h1>

                <mat-card-header>
                    <mat-card-title>Two-factor authentication required</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p *ngIf="twoFactorType === 'app'">{{ 'twofactor.enter_token_app' | translate }}</p>
                    <p *ngIf="twoFactorType === 'sms'">{{ 'twofactor.enter_token_sms' | translate }}</p>
                    <p *ngIf="twoFactorType === 'email'">{{ 'twofactor.enter_token_email' | translate }}</p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Token</mat-label>
                        <input matInput formControlName="token" required maxlength="6">
                        <mat-error *ngIf="tokenForm.controls['token'].hasError('required')">
                            Token is <strong>required. </strong>
                        </mat-error>
                    </mat-form-field>
                    <button *ngIf="(twoFactorType === 'sms' || twoFactorType === 'email') && this.user.twoFactorApp"
                            mat-raised-button color="basic" (click)="dialogTokenByApp()">
                        {{ 'twofactor.use_code_from_app' | translate }}
                    </button>
                    <button *ngIf="(twoFactorType === 'app' || twoFactorType === 'email')  && this.user.twoFactorSms"
                            mat-raised-button color="basic"
                            [disabled]="this.subscribeTimerSms > 0"
                            (click)="sendTokenBySms()">{{ 'twofactor.send_code_by_sms' | translate }}
                        <div id="subscribeTimerSms" *ngIf="this.subscribeTimerSms > 0">({{ this.subscribeTimerSms }} s.)</div>
                    </button>
                    <button *ngIf="(twoFactorType === 'app' || twoFactorType === 'sms') && this.user.twoFactorEmail"
                            mat-raised-button color="basic"
                            [disabled]="this.subscribeTimerEmail > 0"
                            (click)="sendTokenByEmail()">{{ 'twofactor.send_code_by_email' | translate }}
                        <div id="subscribeTimerEmail" *ngIf="this.subscribeTimerEmail > 0">({{ this.subscribeTimerEmail }} s.)</div>
                    </button>
                    <a mat-button (click)="openDialogRecovery()">{{ 'accounts.use_recovery_code' | translate }}</a>
                </mat-card-content>
                <div id="button-container">
                    <button [disabled]="loading || !tokenForm.valid" mat-raised-button color="primary" type="submit"
                            class="submit">
                        Validate token
                    </button>
                    <div style='user-select: none'>&nbsp;</div>
                    <button [disabled]="loading" routerLink="/logout" mat-stroked-button color="primary">
                        Back to login page
                    </button>
                </div>
            </mat-card>
        </form>
    </div>
</div>
