<mat-toolbar color="primary">
    <button *ngIf="!hideMenuButton" mat-icon-button (click)="menuButtonClicked.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <a id="app-name-icon-container" *ngIf="!hideAppName" [routerLink]="['/files']">
        <img id="app-icon" width="44" height="auto" src="/assets/icons/icon-512x512.png" alt="CyberDoc Logo">
        <span>{{'general.appname' | translate}}</span>
    </a>
    <div id="fill-space"></div>
    <button mat-button [routerLink]="['/files']">
        {{ 'general.back_to_app' | translate }}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
        <span>{{getCurrentUsername()}}</span>
    </button>
    <a mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>{{ 'general.settings' | translate }}</span>
    </a>
    <a mat-menu-item routerLink="/logout">
        <mat-icon>logout</mat-icon>
        <span>{{ 'general.logout' | translate }}</span>
    </a>
</mat-menu>
