#fill-space {
    display: flex;
    flex: 1 1 auto;
}

#app-icon {
    padding-left: 4px; 
    padding-right: 4px
}

#app-name-icon-container {
    display:flex;
    align-items:center;
    padding-left: 4px;
    padding-right: 4px;
    font-size: large;
}

a {
    text-decoration: unset;
}
